body {
   width: 100%;
   height: 100%;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   background-color: whitesmoke;
   
}
header  {
   position: fixed;
   z-index: 1000;
   margin: auto;
/*   border-bottom: 1px solid #333;*/
    width: 100%;
   display: inline-flex;
   align-items: center;
   justify-content: space-around;
   background-color: whitesmoke;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
      
}
header nav ul li a {
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: #333;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;
}header nav ul li a:hover {
   color: rgb(10, 206, 20);
   padding-right: 1em;
}
header nav {
   display: inline-flex;
}

#Logomain {
   width: 220px;
   height: 100px;
   background: url(../images/logo_G_story_byMohamedJeridi.png) no-repeat 50% 50%;
   background-size: cover;
}

.search_input  {
    width: 30%;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 50px;
    margin-right: 10px;
    background: url(../images/icons/search.png) no-repeat 95% 50% ; 
    background-size: 5%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    outline: none;
    transition: 0.4s;
}
.search_input:focus{
   width: 35%;
   background-position: 10% 50%;
   text-align: center;
}
.search_input::placeholder {transition: 0.1s; padding-left: 50px;}
.search_input:focus::placeholder {
   padding-right: 80px;
}

.shoppingcart_div {
    display: inline-flex;
    align-items: center;
    
}
.shoppingcart_div img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: 0.4s;
    cursor: pointer;
}  
.shoppingcart_div img:hover {
    transform: rotate(-10deg);
}

.shoppingcart_div span {
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: #333;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.2s;
      background-color: #ffffff;
      border-radius: 50%;
      padding: 10px;
}



/* Create Caert add to buy */


#cart_addtobuy_global {
   display: none; /* DISABLE OR ACTIVE ( AUTO - USER ->  OPEN/CLOSE ) */
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: +10;
}
#close_cart_product {
   float: right;
   transition: 0.4s;
   filter: drop-shadow(0px 0px 5px red);
   cursor: pointer;
}
#close_cart_product:hover {
   transform: rotate(118deg);
}
#cart_addtobuy {
   display: flex;
   justify-items: space-between;
   margin: auto;
   margin-top: 10%;
   width: 800px;
   height: 400px;
   background-color: rgba(248, 243, 216, 0.856);
   border-radius: 10px;
}

#cart_addtobuy_item {
   width: 50%;
   height: 100%;
   /*border: 1px solid black;*/
   border-right: 1px solid #ffffff;
}

#cart_addtobuy_item img {
   display: block;
   margin: auto;
   margin-top: 20%;
   border-radius: 10px;
   width: 55%;
   height: 50%;
   
   /*border: 1px solid black;*/
   padding: 1em;
   background-color: #bdb2749f;
}

#cart_addtobuy_disc {
   width: 50%;
   height: 100%;
   /*border: 1px solid black;*/
   border-radius: 10px;
}

#cart_addtobuy_disc h1 {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: #333;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;
}
#cart_addtobuy_disc h3 {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: #333;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;
}
#cart_addtobuy_disc input {
   display: block;
   margin: auto;
   width: 50%;
   height: 50px;
   border: none;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: #f8bf01;
   text-align: center;
   outline: none;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: #333;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;
}
#cart_addtobuy_disc button {
   display: block;
   margin: auto;
   margin-top: 10%;
   width: 80%;
   height: 50px;
   border: none;
   border-radius: 50px;
   background-color: #01bd4f;
   text-align: center;
   outline: none;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;
   cursor: pointer;
}
#cart_addtobuy_disc button:hover {
   color: #333;
   background-color: #f8bf01;
   border-radius: 0px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   width: 90%;
}

#cart_addtobuy_disc p {
   text-align: center;
   margin: auto;
   margin-top: 10%;
   width: 80%;
   font-family: monospace;
   color: #333;
   background-color: #f8be019a;
   padding: 1em;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;

}


/* Create SideBar Cart ADD LIST */

#sidebar_addtocart {
   position: fixed;
   z-index: +1000;
   width: 30%;
   height: 100%;
   background-color: rgb(231, 228, 202);
   transform: translateX(-100%);
   transition: 1s;
   overflow-y: auto;

}

/*#sidebar_addtocart {
   transform: translateX(0%);
}*/

#setobject_products {
   display: block;
   margin-top: 10%;
   overflow-y: auto;
}

#element_obj_product {
   display: inline-flex;
   margin: auto;
   width: 80%;
   height: 100px;
   border: 1px solid #333;
   border-radius: 10px;
   overflow-y: auto;

}

#element_obj_product #element_obj_product_img {
   width: 50%;
   height: 100%;
   border-right: 1px solid #333;
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center center;
}

#element_obj_product #element_obj_product_disc {

   width: 50%;
   height: 100%;

}
#element_obj_product #element_obj_product_disc h3 { 
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: #333;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;
}
#element_obj_product #element_obj_product_disc p { 
   
   margin-top: -10px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   transition: 0.2s;
}
#fix_qt_sidecart {
   margin-top: -20px;
   font-size: small;
   color: seagreen;
}
/* */



::selection {
   color: white;
   background: limegreen;
 }

/* fix */


::-webkit-scrollbar {
   width: 5px;
 }
 ::-webkit-scrollbar-track {
   background: whitesmoke;
   border-radius: 50px;
 }
 ::-webkit-scrollbar-thumb {
   background: #f8bf01;
   border-radius: 50px;
  }